body {
            background-color: #e0aa3e;
            font-family: baskerville;
            margin: 0;
            padding: 0;
        }
        h1 {
            font-size: 80px;
        }
        header {
            background-color: #e0aa3e;
            color: black;
            padding: 20px;
            text-align: center;
        }
        nav {
            background-color: black;
            padding: 10px;
            text-align: center;
        }
        nav a {
            margin: 0 10px;
            color: #e0aa3e;
            text-decoration: none;
            font-weight: bold;
        }
        section {
            padding: 20px;
        }
        .product {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .product-card {
            background-color: #f9f9f9;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 10px;
            padding: 20px;
            width: 300px;
        }
        .product-card img {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 10px;
        }
        .product-name {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .product-description {
            margin-bottom: 10px;
        }
        .product-price {
            font-size: 18px;
            color: #4d2800;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .special-offers {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .offer-card {
            background-color: #ffd700;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 10px;
            padding: 20px;
            width: 300px;
        }
        .offer-card img {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 10px;
        }
        .offer-name {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
            color: #4d2800;
        }
        .offer-description {
            margin-bottom: 10px;
            color: #4d2800;
        }
        .about-us {
            text-align: center;
        }


}

.header__logo-container:hover {
    color: #7843E9
}

.headerlogo {
    width: 460px;
    height: 360px;
    margin-left: 400px;
}


